body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: #23395b;
  color: white;
  user-select: none;
}

input {
  color: #23395b;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
  border: 2px solid #23395b;
  border-radius: 8px;
}

button {
  color: #fdfdfd;
  background-color: #ce2525;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

button:hover {
  background-color: #432000;
  cursor: pointer;
}

.pop-up {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 250px;
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
}

#popup-image {
  width: 180px;
  margin: 0 auto;
  display: block;
}

#submit-btn {
  width: 100%;
  box-sizing: border-box;
  background-color: #23395b;
  color: white;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #212e40;
}

.hero {
  display: none;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

#hero-img {
  width: 150px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: #fdfdfd;
  color: #23395b;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: bold;
}

ul li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}
